html, body{
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Cairo', sans-serif;
}

a, a:visited{
    text-decoration: none;
    color: white;
}

h1,p {
    margin: 0;
    padding: 0;
}

button{
    background: none;
    border: none;
    cursor: pointer;
}

.hidden{
    display: none;
}

.header {
    height: 7.5rem;
    background-color: #2266A1;
    opacity: 0.9;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.header-behind{
    background-color: rgb(255, 255, 255);
    height: 7.5rem;
}

.header-sup{
    height: 7.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    left: 2rem;
}

.menu-btn {
    background-image: url(./assets/icons/menu-white-24dp.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    outline: none;
    position: relative;
    left: -2rem;
}

.drop-menu{
    height: 100%;
    background-color: #328CDA;
    position: fixed;
    right: 0;
    animation: menuFadeIn 0.5s;
    z-index: 2;
}

@keyframes menuFadeIn{
    from {
        opacity: 0;
        transform: translateX(6em);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.drop-menu .close-btn{
    background-image: url(./assets/icons/close-white-24dp.svg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 40px;
    height: 40px;
    outline: none;
    position: absolute;
    right: 1rem;
    top: 0.5rem
    
}

.drop-menu ul{
    margin: 1.5rem;
    margin-top: 4rem;
    padding: 0;
}

.drop-menu ul li{
    list-style-type: none;
    margin-bottom: 1rem;

}

.header-lightbar{
    background-color: #328CDA;
    height: 7px;
}

.section-a{
    padding: 2rem 3rem 3.5rem 3rem;
}

.section-a h1{
    padding-bottom: 1.5rem;
    color: #5C5C5C;
}

.section-a p{
    font-weight: 600;
}
